# Dependencies
node_modules/

# Build Output
dist/
build/
coverage/
*.tsbuildinfo

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Vite
.vite/

# Testing
coverage/

# IDEs
.vscode/*

# OS Files
.DS_Store

# ESLint
.eslintcache
